@font-face {
    font-family: 'digitize';
    src: local('digitize'), url(fonts/digitize.ttf) format('truetype');
}

.calculadora {
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    background-color: #F3B6BD;
    width: 430px;
    height: 600px;
    border-radius: 15px;
    box-shadow: 15px 10px 10px #857d7d;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
}

.pantalla {
    font-family: 'digitize';
    font-size: 2em;
    border-style: groove;
    border-color: #5e5654;
    background-color: #716360;
    width: 90%;
    margin-top: 30px;
    margin-left: 15px;
    padding: 5px;
    text-align: right;
}

.logos {
    width: 80%;
    height: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

img {
    float: left;
    width: 90px;
    height: 90px;
}

.logoIzquierda {
    position: relative;
    vertical-align: 50%
}

.logoDerecha {
    float: right;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    size: 1.5em;
    text-shadow: 2px 2px 1px #1d1c1c75;
    position: relative;
    top: 50%
}

.botonera {
    margin: 20px;
}

.izquierda {
    width: 250px;
    padding-bottom: -10px;
    float: left;
}

.centro {
    padding: 10px;
    width: 50px;
    float: left;
}

.derecha {
    padding: 10px;
    width: 50px;
    float: left;
}

.boton-numero {
    border-radius: 8px;
    color: #F3B6BD;
    background-color: white;
    font-size: 2em;
    text-align: center;
    margin: 8px;
    width: 58px;
    height: 58px;
    box-shadow: -7px 7px 5px -1px rgba(0, 0, 0, 0.18);
    border-width: 1px;
    align-content: center;
}

.boton-operaciones {
    color: white;
    background-color: #F3B6BD;
    font-size: 2em;
    box-shadow: -7px 7px 5px -1px rgba(0, 0, 0, 0.18);
    width: 58px;
    height: 58px;
    border-radius: 50px;
    margin-bottom: 15px;
    border-width: 1px;
}

#igual {
    width: 165px;
    margin-top: -26px;
    margin-left: 70px;
}

#mas {
    height: 90px;
}

.boton-manejo {
    color: white;
    background-color: #e51f40;
    font-size: 1.8em;
    box-shadow: -7px 7px 5px -1px rgba(0, 0, 0, 0.18);
    width: 58px;
    height: 58px;
    border-radius: 50px;
    margin-bottom: 15px;
    border-width: 1px;
}